.register-page {
    padding: 20px;
    font-family: 'kanit';
    border-radius: 5px;
    margin: 0 auto;
}

.register-box {
    border-radius: inherit;
    padding: 20px;
}

.input-icons {
    position: relative;
    display: flex;
    align-items: center;
}

.icon {
    position: absolute;
    padding: 10px;
    width: 40px;
    top: 50%;
    left: 10px;
    transform: translate(0%, -50%);
}

.form-control {
    padding-left: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-outline-idol {
    padding-left: 50px;
    border: none;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    width: 100%; /* ทำให้ช่องกรอกเต็มความกว้าง */
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
    width: 48%;
    font-weight: bold;
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .register-page {
        margin-top: 50px;
    }

    .register-box {
        padding: 15px;
    }
}

@media (max-width: 576px) {
    .register-page {
        margin-top: 20px;
    }

    .register-box {
        padding: 10px;
    }
}