.regis {
    padding: 20px;
    font-family: kanit;
    border-radius: 5px;
}

.regis h3 {
    text-align: center;
    font-weight: bold;
}

.regis-box {
    border-radius: inherit;
}

.regis-box h5 {
    color: #757575;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.input-icons {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}

.icon {
    position: absolute;
    padding: 10px;
    width: 40px;
    top: 50%;
    left: 10px;
    transform: translate(0%, -50%);
}

.input-icons .form-control {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 50px;
    padding-left: 55px;
    font-size: 1rem;
    border: solid 2px rgb(244, 154, 106);
}

.next {
    color: #fff;
    background: linear-gradient(130deg, rgba(242, 112, 114, 1) 0%, rgba(248, 158, 90, 1) 100%);
    line-height: 200%;
    border: none;
    border-radius: 20px;
    padding: 6px 25px;
    color: #fff;
    display: block;
    justify-content: center;
    margin: 0 auto;
}

.next:hover {
    color: #fff;
    background: linear-gradient(90deg, rgba(248, 47, 49, 1) 0%, rgba(254, 160, 64, 1) 200%);
}

.required-asterisk {
    position: absolute;
    left: -10px;
    top: -5px;
    color: red;
    font-weight: bold;
}

.form-outline-idol {
    padding-left: 50px;
    border: none;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.regis .form-control {
    line-height: 2.5;
}