form {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.head-third {
    width: 100%;
    text-align: center;
    color: #67679d;
}

.idol-input-box {
    position: relative;
    margin-bottom: 1.5rem;
}

label {
    position: absolute;
    top: -12px;
    z-index: 1;
    left: 10px;
    padding: 0 5px;
    color: #67679e;
    background-color: rgb(244, 246, 247);
    font-size: 14px;
}

.idol-input-box input,
.idol-input-box textarea,
.idol-input-box .form-select {
    border: 2px solid #bbcdf7;
    border-radius: 10px;
    background-color: rgb(244, 246, 247);
    padding: .3rem 0.8rem;
    width: 100%;
}

.form-label {
    margin-bottom: .5rem;
    display: block;
}

button[type="submit"] {
    margin: 1.5rem 0px;
}